<a class="expandable-header"><i class="glyphicon glyphicon-sm glyphicon-tower"></i>Script<b class="caret caret-right" {{if ~isFilled()}}style="color: green"{{else}}{{/if}}></b></a>

<div class="expandable-body properties" style="display: none">
    {{if ~getItemsLength() > 0}}
    <select id="scripts" name="scripts" multiple="multiple">
        {{for ~getItems()}}
        <option value="{{:shortid}}">{{:name}}</option>
        {{/for}}
    </select>
    {{else}}
    <a class="btn btn-primary btn-xs" href="/#/extension/scripts/detail">Create script</a>
    {{/if}}


</div>